root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
max_line_length = 80

[*.{kt,kts}]
indent_size = 4
ij_kotlin_allow_trailing_comma = true
ij_any_wrap_long_lines = true
ij_kotlin_wrap_first_method_in_call_chain = true
ij_kotlin_method_call_chain_wrap = on_every_item
ij_kotlin_assignment_wrap = on_every_item
ij_kotlin_wrap_expression_body_functions = 2
ij_kotlin_keep_line_breaks = false
ij_kotlin_call_parameters_wrap = on_every_item
ij_kotlin_call_parameters_new_line_after_left_paren = true
ij_kotlin_call_parameters_right_paren_on_new_line = true
ij_kotlin_method_parameters_wrap = on_every_item
ij_kotlin_method_parameters_new_line_after_left_paren = true
ij_kotlin_method_parameters_right_paren_on_new_line = true
ij_kotlin_name_count_to_use_star_import = 99
ij_kotlin_continuation_indent_size = 4
ij_kotlin_align_multiline_parameters = true
ij_kotlin_align_multiline_parameters_in_calls = true
ij_kotlin_import_nested_classes = false
ij_kotlin_packages_to_use_import_on_demand = unset
ij_kotlin_variable_annotation_wrap = off
