services:
  meldecenter:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - DB_URL=r2dbc:postgresql://postgres:5432/meldecenter
      - FLYWAY_JDBC_URL=jdbc:postgresql://postgres:5432/meldecenter
      - TRACING_ENDPOINT=http://jaeger:4318/v1/traces
      - FTP_HOST=ftp
  postgres:
    image: 'postgres:17.7-alpine'
    environment:
      - 'POSTGRES_DB=meldecenter'
      - 'POSTGRES_USER=admin'
      - 'POSTGRES_PASSWORD=admin'
    ports:
      - '5432:5432'
    volumes:
      - 'postgres-data:/var/lib/postgresql/data'
  jaeger:
    image: 'jaegertracing/all-in-one:1.76.0'
    environment:
      - SPAN_STORAGE_TYPE=badger
    ports:
      - '16686:16686' # UI
      - '4317:4317'  # OTLP gRPC
      - '4318:4318'  # OTLP HTTP
    volumes:
      - 'jaeger-data:/go/bin/data'
      - 'jaeger-tmp:/tmp'
  ftp:
    image: 'delfer/alpine-ftp-server:latest'
    labels:
      org.springframework.boot.readiness-check.tcp.disable: true
    environment:
      - 'USERS=admin|admin'
      - 'MIN_PORT=21000'
      - 'MAX_PORT=21000'
    ports:
      - '21:21'
      - '21000:21000'
    volumes:
      - './src/test/resources/ausgehend/ftp:/ftp/admin'
volumes:
  postgres-data:
  jaeger-data:
  jaeger-tmp:
