services:
  postgres:
    image: 'postgres:18.1-alpine'
    environment:
      - 'POSTGRES_DB=meldecenter'
      - 'POSTGRES_USER=admin'
      - 'POSTGRES_PASSWORD=admin'
    ports:
      - '5432:5432'
    volumes:
      - 'postgres-data:/var/lib/postgresql/data'
  jaeger:
    image: 'jaegertracing/all-in-one:1.64'
    ports:
      - '16686:16686' # UI
      - '4317:4317'  # OTLP gRPC
      - '4318:4318'  # OTLP HTTP
volumes:
  postgres-data:
