services:
  postgres:
    image: 'postgres:18.1-alpine'
    environment:
      - 'POSTGRES_DB=meldecenter'
      - 'POSTGRES_USER=admin'
      - 'POSTGRES_PASSWORD=admin'
    ports:
      - '5432:5432'
